html, body {
  font-family: $mainFont;
  color: $mainTextColor;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 15px 0;
  position: relative;
  text-transform: uppercase;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include box-shadow(0 5px 2px -4px #eee);
  span {
    @extend %inline-block;
    height: 17px;
    width: 17px;
    vertical-align: top;
    background: url('../assets/icon.png') no-repeat right;
    background-size: contain;
    @include breakpoint(xs) {
      position: absolute;
      right: 0px;
    }
  }
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 700;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-family: 'Cardo', serif;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}

h4 {
  @extend %inline-block;
  border-bottom: 1px solid #000;
  font-family: 'Raleway', sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  margin: 0 0 15px;
}

a {
  &:link {

  }
  &:visited {

  }
  &:hover, &:active {

  }
}

p {
  margin: 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.middle {
  @extend %inline-block;
  vertical-align: middle;
}