html, body {
  font-family: $mainFont;
  color: $mainTextColor;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 700;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-family: 'Cardo', serif;
  font-size: 13px;
  font-style: italic;
}

h4 {
  @extend %inline-block;
  border-bottom: 1px solid #000;
  font-family: 'Raleway', sans-serif;
  font-size: 9px;
  text-transform: uppercase;
}

a {
  &:link {

  }
  &:visited {

  }
  &:hover, &:active {

  }
}

p {
  margin: 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.middle {
  @extend %inline-block;
  vertical-align: middle;
}